*{
	
}
body{
	background-color:#607D8B;
}
div{
	background-color:red;
	HEIGHT:220PX;
	text-align:center;
}
#encabezado{
background-color:#FF9800;
height:200px;
text-align:center;
}
.pieDepagina{
	background-color:#FF5722;
	height:100px;
	width:100%;
	bottom:0;
	color:white;
	position:fixed;
	left:0px;
}
p{
	font-family:georgia,times;
	font-size:16px;
	color:white;
}